body,
html {
  /* height:100%; */

  margin: 0px;
  padding: 0px;
}

#app header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: lightgray;
  padding: 10px;
}

#app header h1 {
  font-size: 2.5em;
}

#app header nav {
  align-self: flex-end;
}

#app ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 25px;
}

#app ul li {
  font-size: 1.5em;
}

#app main {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
}

.store-item {
  background-color: lightblue;
  padding: 10px;
}

.store-item img {
  max-width: 100%;
}

.store-item span {
  padding: 5px;
}

#app footer {
  background-color: lightgray;
  text-align: center;
  padding: 10px;
}

#app footer p {
  font-size: 2em;
}